.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(71, 71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 40%;
    background-color: white;
    align-items: center;
}

li{
    line-height: 1.5;
    text-align: center;
}
.image{
    margin-top: 15px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3{
    margin-top: 5px;
  }